<style>
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0.4rem 1rem;
  }

  .search-btn:hover {
    background-color: #e03a44;
    color: white;
  }

  .search-input {
    border-radius: 25px;
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    .search-form {
      margin: 1rem 0;
      width: 100%;
    }

    .search-form input {
      margin-bottom: 0.5rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- Left Side -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">HOME</a>
        </li>
      </ul>

      <!-- Center Search -->
      <form
        class="d-flex search-form"
        role="search"
        action="/listings/search"
        method="GET"
      >
        <input
          class="form-control me-2 search-input"
          type="search"
          name="q"
          placeholder="Search your listing"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass me-1"></i>Search
        </button>
      </form>

      <!-- Right Side -->
      <ul class="navbar-nav ms-md-3">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listings</a>
        </li>

        <% if (!currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><b>Log in</b></a>
          </li>
        <% } %>

        <% if (currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>
