<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="alert alert-danger col-12 col-md-8 col-lg-6 mx-auto" role="alert">
    <p class="alert-heading"><%= message %></p>
  </div>
</div>
